@page "/feedingrecords/details"
@using Microsoft.EntityFrameworkCore
@using BabyData.Data
@inject IDbContextFactory<BabyData.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>FeedingRecord</h2>
    <hr />
    @if (feedingrecord is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col">Date</dt>
            <dd class="col">@feedingrecord.StartTime.Date</dd>
            <dt class="col">StartTime</dt>
            <dd class="col">@feedingrecord.StartTime.TimeOfDay</dd>
            <dt class="col">EndTime</dt>
            <dd class="col">@feedingrecord.EndTime.TimeOfDay</dd>
            <dt class="col">FeedingType</dt>
            <dd class="col">@feedingrecord.FeedingType</dd>
            <dt class="col">Notes</dt>
            <dd class="col">@feedingrecord.Notes</dd>
        </dl>
        <div>
            <a href="@($"/feedingrecords/edit?id={feedingrecord.Id}")" class="btn btn-primary">Edit</a>
            <a href="@($"feedingrecords/delete?id={feedingrecord.Id}")" class="btn btn-danger">Delete</a>
        </div>
        <div class="float-end">
            <a href="@($"/feedingrecords")" class="btn btn-primary ">Back to List</a>
        </div>
    }
</div>

@code {
    private FeedingRecord? feedingrecord;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        feedingrecord = await context.FeedingRecords.FirstOrDefaultAsync(m => m.Id == Id);

        if (feedingrecord is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
