@page "/feedingrecords"
@using BabyData.Components.Account
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BabyData.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BabyData.Data.ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject IUserIdentityProcessor UserIdentityProcessor
@attribute [StreamRendering]

@* prevent double render, consider persisiting state https://jonhilton.net/persist-state-between-renders-net8/#:%7E:text=Chances%20are%20it%27s%20down%20to,show%20something%20nice%20and%20quickly *@
@rendermode @(new InteractiveServerRenderMode(false)) 

<div>
    <PageTitle>Feeding Records</PageTitle>
    <h1>Feeding Records</h1>

    @if (FilteredFeedingRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="d-flex justify-content-end">
            <BabyData.Components.Pages.BabyPages.BabyComponent Babies="Babies" SelectedBabyId="SelectedBaby.Id" OnValueChanged="OnValueChanged" />
        </div>

        <p><a href="feedingrecords/create?BabyId=@SelectedBaby.Id" class="btn btn-primary w-100">Create New</a></p>

        <div>
            <InputSelect id="daysPreviousSelect" @bind-Value="NumberOfDays" class="form-select form-select-sm mb-3 w-auto">
                <option value="1">Today</option>
                <option value="7">Last Week</option>
                <option value="14">Last Two Weeks</option>
                <option value="30">Last Month</option>
                <option value="0">All</option>
            </InputSelect>
        </div>

        <QuickGrid Class="table table-striped table-hover w-auto" Items="FilteredFeedingRecords" Pagination="paginationState">
            <TemplateColumn Title="Date" SortBy="@SortByDate">

                <div class="click-area" @onclick="() => RowClick(context)"></div>
                <i class="bi bi-hexagon"></i>
                <span>@context.StartTime.Date.ToString()</span>
                <p class="text-center mb-0">@context.StartTime.TimeOfDay.ToString() - @context.EndTime.TimeOfDay.ToString()</p>
            </TemplateColumn>
            <TemplateColumn>
                <p class="small text-center mb-0 mt-0">@context.FeedingType</p>
                @if (context.FeedingType != FeedingType.Breast)
                {
                    <p class="text-center mb-0 mt-0">@context.QuantityInOz oz</p>
                }
                else
                {
                    <p class="text-center mb-0 mt-0">@context.ElapsedTime.TotalMinutes min</p>
                }
            </TemplateColumn>
        </QuickGrid>

        <Paginator State="paginationState" />

    }
</div>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<FeedingRecord>? FeedingRecords;
    private IQueryable<FeedingRecord>? FilteredFeedingRecords
    {
        get
        {
            if (SelectedBaby is null)
                return null;

            var filtered = FeedingRecords?.Where(fr => fr.BabyId == SelectedBaby.Id);

            if (NumberOfDays > 0)
            {
                var numDays = TimeSpan.FromDays(NumberOfDays);
                var now = DateTime.Now;
                filtered = filtered.Where(fr => fr.StartTime.Date >= now.Subtract(numDays).Date );
            }
            return filtered;
        }
    }

    GridSort<FeedingRecord> SortByDate = GridSort<FeedingRecord>
    .ByAscending(x => x.StartTime);

    PaginationState paginationState = new() { ItemsPerPage = 15 };

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;

    private Baby SelectedBaby { get; set; }
    private List<Baby> Babies { get; set; } = new();
    private int NumberOfDays = 0; 

    protected override async Task OnInitializedAsync()
    {
        var userId = await UserIdentityProcessor.GetCurrentUserId();

        context = await DbFactory.CreateDbContextAsync();
        FeedingRecords = (await context.FeedingRecords.Where(x => x.UserId.ToString() == userId).ToListAsync()).AsQueryable();
        Babies = await context.Babies.Where(x => x.UserId.ToString() == userId).ToListAsync();
        SelectedBaby = Babies.Where(x => x.UserId.ToString() == userId).FirstOrDefault();
        
        if (SelectedBaby is null)
        {
            Navigation.NavigateTo($"baby/create");
        }
    }

    private void RowClick(FeedingRecord feedingRecord) => Navigation.NavigateTo($"feedingrecords/details?id={feedingRecord.Id}");

    private void OnValueChanged(Baby newValue)
    {
        SelectedBaby = newValue;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
